@media (max-width: 1840px){

  .hero{
    max-height: 795px;
  }

  .buttons{
    height: 60px;
    width: 200px;
  }

  .info{
    max-width: 510px;
  }

  .search-container{
    max-height: 65px;
    max-width: 590px;
  }

  .search-container__search-icon{
    margin-right: 10px;
  }

  .search-container__search-form{
    padding: 0 0 0 15px;
  }

  .search-input{
    max-width: 165px;
  }

  .search-container__location-form{
    padding: 0 15px 0 15px;
  }

  .buttons__search-button{
    height: 55px;
    width: 150px;
  }

  .graphics__img{
    height: 650px;
    width: 450px;
    top: -90px;
    right: 20px;
  }

  .graphics__ellipse-big{
    height: 600px;
    width: 600px;
    bottom: 140px;
    right: -35px;
  }

  .graphics__ellipse-small{
    height: 425px;
    width: 425px;
    bottom: 232px;
    right: 50px;
  }

  .graphics__flying-icon{
    height: 70px;
    width: 70px;
  }

  .google-icon{
    top: 275px;
    right: 525px;
  }

  .paypal-icon{
    bottom: 280px;
    right: -30px;
  }

  .indeed-icon{
    top: 110px;
    right: 410px;
  }

  .slack-icon{
    top: 165px;
    right: 10px;
  }

  .graphics__flying-card{
    height: 180px;
    width: 150px;
  }

  .flying-card__img-block{
    height: 110px;
    width: 130px;
  }

  .first-flying-card{
    top: 508px;
    right: 450px;
  }

  .second-flying-card {
    top: 245px;
    right: -55px;
  }

  .second-section{
    min-height: 1665px;
  }

  .rectangle{
    width: 320px;
    height: 700px;
  }

  .left-wrapper_dots{
    left: -185px;
  }

  .right-wrapper__dots {
    bottom: 25px;
  }

  .right-wrapper__vector-3{
  right: -140px;
  }

  .right-wrapper__vector-4{
    left: -125px;
  }

  .cards-content__button{
    width: 85px;
  }

}

@media (max-width: 1279px){
  .container{
    max-width: 960px;
  }

  .hero{
    max-height: 765px;
  }

  .graphics__img{
    height: 550px;
    width: 400px;
    top: -20px;
    right: 110px;
  }

  .graphics__ellipse-big{
    height: 425px;
    width: 425px;
    bottom: 155px;
    right: -10px;
    }

  .graphics__ellipse-small{
    height: 275px;
    width: 275px;
    bottom: 230px;
    right: 65px;
  }

  .graphics__flying-icon{
    height: 60px;
    width: 60px;
  }

  .google-icon{
    top: 245px;
    right: 340px;
  }

  .paypal-icon{
    bottom: 295px;
    right: -10px;
  }

  .indeed-icon{
    top: 155px;
    right: 285px;
  }

  .slack-icon{
    top: 185px;
    right: 10px;
  }

  .graphics__flying-card{
    height: 170px;
    width: 140px;
  }
  .first-flying-card{
    top: 500px;
    right: 330px;
  }

  .second-flying-card {
    top: 500px;
    right: -20px;
  }

  .job-posts{
    min-height: 480px;
  }

  .job-posts__container{
    padding-top: 50px;
  }

  .job-posts__cards-wrapper {
    margin-bottom: 25px;
  }

  .cards{
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
  }
  .second-section{
    padding-top: 50px;
    min-height: 1485px;
  }

  .job-block{
    width: 225px;
  }

  .second-section__sign-up-block{
    min-width: 960px;
  }

  .rectangle{
    width: 255px;
    height: 620px;
  }

  .right-wrapper__vector-4{
    left: -190px;
  }

  .right-wrapper__vector-3{
    right: -205px;
  }

  .subscribe-block{
    width: 960px;
  }

  .subscribe-rectangles{
    height: 340px;
    width: 365px;
    }

}

@media (max-width: 1023px){

  header{
    padding: 50px 0 50px 0;
  }

  .container{
    max-width: 700px;
  }

  .hero{
    min-height: 1039px;
  }

  .header-wrapper{
    margin-bottom: 85px;
  }

  .menu__list-item{
    margin-right: 20px;
  }

  .buttons{
    height: 60px;
    width: 180px;
  }

  /* .hero__wrapper{
    flex-direction: column;
    align-items: center;
  } */

  .info{
    margin-right: 50px;
    align-items: center;
  }

  .search-container{
    max-width: 565px;
  }

  .search-container__search-icon{
    margin-right: 10px;
  }

  .search-container__search-form{
    padding: 0 0 0 10px;
  }

  .search-container__location-icon{
    margin-right: 10px;
  }

  .search-container__location-form{
    padding: 0 10px 0 10px;
  }

  .buttons__search-button{
    height: 60px;
    width: 140px;
  }

  .graphics__img{
    top: 20px;
    right: 0;
  }

  .graphics__ellipse-big{
    height: 650px;
    width: 650px;
    bottom: -110px;
    right: 15px;
  }

  .graphics__ellipse-small{
    height: 450px;
    width: 450px;
    bottom: -5px;
    right: 115px;
  }

  .graphics__flying-icon{
    height: 60px;
    width: 60px;
  }

  .google-icon{
    top: 650px;
    right: 595px;
  }

  .paypal-icon{
    bottom: 95px;
    right: 45px;
  }

  .indeed-icon{
    top: 485px;
    right: 475px;
  }

  .slack-icon{
    top: 555px;
    right: 85px;
  }

  .graphics__flying-card{
    height: 170px;
    width: 140px;
  }

  .flying-card__img-block{
    height: 100px;
    width: 130px;
  }

  .flying-card__title{
    font-size: var(--FONT_SIZE_18);
  }

  .flying-card__circle{
    height: 25px;
    width: 25px;
    gap: 0;
    top: 85px;

  }

  .first-flying-card{
    top: 820px;
    right: 515px;
  }

  .second-flying-card {
    top: 645px;
    right: 5px;
  }

  .job-posts{
    min-height: 650px;
  }

  .job-posts__container{
    padding-top: 50px;
  }

  .job-posts__title{
    text-align: center;
  }

  .job-posts__cards-wrapper{
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .cards{
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    width: 330px;
    height: 220px;
  }

  .scroll-block__text{
    margin-bottom: 10px;
  }

  .second-section{
    min-height: 1600px;
    padding-top: 50px
  }

  .second-section__title{
    text-align: center;
  }

  .second-section__jobs-categories{
    margin-bottom: 85px;
  }

  .job-block{
    padding-top: 10px;
    text-align: center;
    width: 215px;
    height: 230px;
  }

  .second-section__sign-up-block{
    flex-direction: column;
    min-width: 700px;
  }

  .sign-up-block__left-wrapper{
    margin-right: 30px;
    margin-bottom: 50px;
    align-items: center;
  }


  .sign-up-block__title{
    margin-bottom: 30px;
  }

  .sign-up-block__subtitle{
    max-width: 490px;
    margin-bottom: 30px;
  }

  .sign-up-block__right-wrapper{
    top: 0;
    justify-content: center;
  }

  .rectangle{
    width: 280px;
    height: 630px;
  }

  .left-wrapper_dots{
    left: -100px;
    bottom: 670px;
  }

  .right-wrapper__dots {
    bottom: 25px;
    right: -70px;
  }

  .right-wrapper__vector-3{
    top: 95px;
  }

  .right-wrapper__vector-4{
    left: -109px;
  }

  .third-section{
    margin-bottom: 200px;
  }
  .third-section__container{
    flex-direction: column-reverse;
    align-items: center;
  }

  .third-section__right-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
    align-items: center;
  }

  .third-section__left-wrapper{
    margin-right: 0;
  }

  .fourth-section__title{
    text-align: center;
    max-width: 700px;
  }

  .fifth-section{
    min-height: 300px;
  }

  .subscribe-block{
    padding: 50px 0 0 50px;
    height: 300px;
    width: 700px;
    }

  .subscribe-rectangles{
    height: 205px;
    width: 250px;
    }

  .subscribe-block__dots {
    bottom: -70px;
    left: -160px;
    }

    .footer-section{
      min-height: 435px;
      padding-top: 50px;
    }

    .footer-section__our-contacts{
      margin-right: 35px;
    }

    footer .menu{
      margin-right: 30px;
    }

    footer .menu__list-item{
      margin-bottom: 25px;
    }

}

@media (max-width: 767px){
  .container{
    max-width:600px;
  }

  .hamburger{
    display: block;
    background: none;
    border: none;
    width: 30px;
    position: fixed;
    top: 40px;
    right: 30px;
    height: 14px;
    z-index: 30;
  }

  .hamburger__item{
      height: 2px;
      width: 100%;
      display: block;
      background: black;
      margin-bottom: 4px;
      transition: 0.2s all;
    }

  .hamburger__item:last-child{
      margin-bottom: 0;
    }

  /* .hamburger__item{
    margin-bottom: -2px;
  } */
/*
  .hamburger__item:nth-child(1){
    transform: translateY(3px) rotate(-45deg);
  }

  .hamburger__item:nth-child(2){
    display: none;
  }

  .hamburger__item:nth-child(3){
    transform: translateY(3px) rotate(45deg);
  } */

  .hero{
    min-height: 1020px;
  }

  .header-wrapper{
    justify-content: center;
    margin-bottom: 50px;
  }

  header .logo{
    font-size: var(--FONT_SIZE_72);
  }

  header .menu__list{
    display: none;
  }

  .buttons__cta-button{
    display: none;
  }

  .info{
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .info__subtitle{
    margin-bottom: 30px;
  }

  .subscribe-wrapper{
    max-width: 565px;
  }

  .buttons__search-button{
    height: 60px;
    width: 140px;
  }

  .graphics__img{
    top: 28px;
    right: 0;
  }

  .graphics__ellipse-big{
    height: 650px;
    width: 650px;
    bottom: -110px;
    right: -35px;
  }

  .graphics__ellipse-small{
    height: 450px;
    width: 450px;
    bottom: -10px;
    right: 65px;
  }

  .google-icon{
    top: 650px;
    right: 540px;
  }

  .paypal-icon{
    bottom: 30px;
    right: 15px;
  }

  .indeed-icon{
    top: 485px;
    right: 435px;
  }

  .slack-icon{
    top: 520px;
    right: 65px;
  }

  .graphics__flying-card{
    height: 170px;
    width: 140px;
  }
  .first-flying-card{
    top: 800px;
    right: 460px;
  }

  .second-flying-card {
    right: -5px;
  }

  .job-posts__title{
    font-size: var(--FONT_SIZE_30);
  }

  .job-posts__cards-wrapper{
    justify-content: center;
  }

  .cards{
    margin-right: 0;
    width: 370px;
    height: 250px;
  }

  .jobs-group{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .job-block{
    height: 230px;
    width: 270px;
    margin-right: 0px;
  }

  .jobs-group{
    margin-bottom: 15px;
  }

  .second-section__sign-up-block{
    min-width: 600px;
  }

  .sign-up-block__left-wrapper{
    margin-right: 0;
  }

  .left-wrapper_dots{
    left: -135px;
  }

  .right-wrapper__vector-3{
    display: none;
  }

  .right-wrapper__vector-4{
    display: none;
  }

  .right-wrapper__dots{
    right: -120px;
  }

  .third-section__left-wrapper{
    top: 50px;
  }

  .fourth-section__feedback-wrapper{
    min-width: 1200px;
  }

  .feedback-card{
    padding: 25px 25px 25px 25px;
    width: 385px;
    height: 400px;
  }

  .subscribe-block{
    padding: 50px 0 0 25px;
    height: 300px;
    width: 600px;
  }

  .subscribe-wrapper{
    max-width: 565px;
  }

  .subscribe-block__dots{
    left: -185px;
  }

  .subscribe-rectangles{
    height: 175px;
    width: 215px;
  }

  .footer-section__nav-container{
    justify-content: center;
  }

  .footer-section__our-contacts{
    margin-right: 35px;
    margin-bottom: 30px;
  }

  footer .menu{
    margin-right: 25px;
  }

  .footer-section__news{
    margin-bottom: 30px;
  }
}

@media (max-width: 639px){
  .title{
    font-size: var(--FONT_SIZE_30);
  }

  a{
    font-size: var(--FONT_SIZE_14);
  }

  p{
    font-size: var(--FONT_SIZE_14);
  }

  .container{
    max-width: 250px;
  }

  .hero{
    min-height: 540px;
  }

  .info__title{
    max-width: 250px;
    text-align: center;
  }

  .info__subtitle{
    max-width: 250px;
    text-align: center;
    font-size: var(--FONT_SIZE_14);
  }

  ::placeholder{
    font-size: var(--FONT_SIZE_14);
  }

  .search-container{
    max-width: 250px;
    max-height: 50px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .search-container__search-form{
    padding: 0 0 0 5px;
  }

  .search-container__search-icon{
  margin-right: 5px;
  }

  .search-input{
    max-width: 65px;
    min-height: 50px;
  }

  .search-container__location-form{
    padding: 0 5px 0 5px;
  }

  .search-container__location-icon{
    margin-right: 5px;
  }

  .location-input{
    max-width: 75px;
    min-height: 50px;
  }

  .right-wrapper{
    display: none;
  }

  .buttons__search-button{
    height: 50px;
    min-width: 250px;
    font-size: var(--FONT_SIZE_18);
    border-radius: 10px;
  }

  .second-section__jobs-categories{
    margin-bottom: 50px;
  }

  .cards {
    width: 250px;
    height: 220px;
  }

  .cards-content__button-text{
    font-size: var(--FONT_SIZE_12);
  }

  .cards-content__button{
    height: 30px;
    width: 70px;
    margin-right: 5px;
  }

  .cards-content__left-side {
    margin-right: -30px;
  }

  .cards-content__cards-circle{
    margin-right: 5px;
  }

  .cards-content__middle_title{
    font-size: var(--FONT_SIZE_20);
  }

  .job-block{
    width: 250px;
  }

  .second-section__sign-up-block{
    min-width: 250px;
  }

  .sign-up-block__title{
    text-align: center;
  }

  .sign-up-block__subtitle{
    max-width: 250px;
    text-align: center;
    font-size: var(--FONT_SIZE_14);
    margin-bottom: 30px
  }

  .left-wrapper_dots{
    left: -165px;
    bottom: 720px;
  }

  .sign-up-block__right-wrapper{
    display: none;
  }

  .third-section{
    padding-top: 0;
    margin-bottom: 50px;
    min-height: 720px;
  }

  .third-section__title{
    margin-bottom: 30px;
  }

  .third-section__subtitle{
    max-width: 250px;
  }

  .third-section__img{
    height: 375px;
    width: 235px;
  }

  .play-button{
    bottom: 145px;
    left: 65px;
  }

  .fourth-section{
    margin-bottom: 50px;
  }

  .fourth-section__title{
    max-width: 300px;
    font-size: var(--FONT_SIZE_44);
    margin-bottom: 30px;
  }

  .fourth-section__feedback-wrapper{
    flex-direction: column;
  }

  .feedback-card{
    padding: 10px 10px 10px 10px;
    width: 250px;
    height: 320px;
    margin-bottom: 30px;
  }

  .feedback-card__paragraph{
    font-size: var(--FONT_SIZE_14);
  }

  .profile-img{
    margin-right: 15px;
  }

  .feedback-card__username{
    font-size: var(--FONT_SIZE_14)
  }

  .feedback-card__profession{
    font-size: var(--FONT_SIZE_14);
  }

  .profile-img{
    height: 100px;
    width: 100px;
  }

  .subscribe-block{
    padding: 25px 10px 0 10px;
    height: 225px;
    width: 250px;
    bottom: 0;
  }

  .subscribe-button{
    width: 230px;
    border:2px solid var(--COLOR_WHITE);
  }

  .subscribe-wrapper{
    max-height: 60px;
  }

  .subscribe-rectangles{
    display: none;
  }

  .subscribe-block__title{
    font-size: var(--FONT_SIZE_20);
    max-width: 300px;
    margin-bottom: 10px;
    text-align: center;
  }

  .mail-input{
    min-width: 215px;
  }

  .subscribe-block__dots{
    left: -195px;
    bottom: 25px;
  }

  .fifth-section{
    min-height: 250px;
  }

  .footer-section__our-contacts {
    text-align: center;
    margin: 0;
  }

  footer .menu{
    text-align: center;
    margin-right: 0;
  }

  .footer-section__nav-container{
    gap: 20px;
  }

  .footer-section__nav-container{
    flex-direction: column-reverse;
  }

  .footer-section__nav-wrapper{
    display: flex;
  }

  .footer-section__news{
    text-align: center;
  }

  .footer-dots-left{
    display: none;
  }

  .footer-dots-right{
    display: none;
  }

}

@media (max-width: 413px){
  p{
    font-size: var(--FONT_SIZE_12);
  }

  a{
    font-size: var(--FONT_SIZE_12);
  }

  .title{
    font-size: var(--FONT_SIZE_24);
  }

  .container{
    max-width: 180px;
  }

  header .logo{
    font-size: var(--FONT_SIZE_48);
  }

  .info__title{
    max-width: 180px;
  }

  .info__subtitle{
    max-width: 180px;
  }

  .search-container{
    max-width: 185px;
  }

  .search-input{
    max-width: 60px;
  }

  .search-container__search-icon{
    display: none;
  }

  .search-container__location-icon{
    display: none;
  }

  .buttons__search-button{
    min-width: 185px;
  }

  .cards{
    width: 185px;
    padding: 15px 10px 15px 10px;
  }

  .cards-content__right-side{
    margin: 10px -5px 0 0;
  }

  .cards-content__title{
    font-size: var(--FONT_SIZE_14);
  }

  .cards-content__middle_title{
    font-size: var(--FONT_SIZE_14);
  }

  .cards-content__middle_subtitle{
    font-size: var(--FONT_SIZE_12);
  }

  .cards-content__bottom{
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .cards-content__button-text{
    font-size: var(--FONT_SIZE_12);
  }

  .right-side__first-circle{
    display: none;
  }

  .right-side__second-circle{
    display: none;
  }

  .second-section__sign-up-block{
    min-width: 185px;

  }

  .third-section{
    min-height: 620px;
  }

  .third-section__subtitle{
    margin-bottom: 30px;
  }

  .third-section__img{
    height: 300px;
    width: 185px;
  }

  .play-button{
    bottom: 95px;
    left: 40px;
  }

  .feedback-card{
    width: 185px;
    height: 420px;
  }

  .feedback-card__user-preview{
    flex-direction: column;
    align-items: center;
  }

  .feedback-card__user-description{
    align-items: center;
  }

  .profile-img{
    margin-right: 0;
    margin-bottom: 15px;
  }

  .feedback-card__profession{
    margin-bottom: 5px;
  }

  .scroll-circle{
    width: 10px;
    height: 10px;
    margin-right: 15px;
  }

  .subscribe-block{
    height: 210px;
    width: 185px;
  }
  .subscribe-block__title{
    font-size: var(--FONT_SIZE_14);
  }

  .subscribe-button{
    width: 165px;
  }

  .mail-form{
    min-width: 160px;
  }

  .mail-input {
    min-width: 155px
  }

  .footer-section{
    min-height: 435px;
    padding-top: 30px;
  }

  .news-card{
    flex-direction: column;
    align-items: center;
  }

  .news-img{
    margin-right: 0;
    margin-bottom: 10px;
  }

  .news-paragraph{
    font-size: var(--FONT_SIZE_14);
  }

}
