.categories {
  padding-top: 150px;
  overflow: hidden;
}

.categories .title {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.jobs-categories-wrapper {
  margin-bottom: 147px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 270px;
  height: 270px;
  border: 1px solid var(--COLOR_LIGHT_GREY);
  border-radius: 20px;
  padding: 30px 5px 5px 5px;
  line-height: 25px;
  transition: var(--TRANSITION_NORMAL);
}

.category-card:hover {
  box-shadow: 0px 70px 70px var(--COLOR_LIGHT_GREY);
}

.category-card__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background: var(--COLOR_BACKGROUND_PEACH);
  border-radius: 50px;
  margin-bottom: 30px;
  transition: background-color 0.5s;
}

.category-card:hover .category-card__circle {
  background-color: var(--COLOR_ORANGE);
}

.category-icon {
  opacity: 1;
  transition: opacity 0.5s;
}

.category-card:hover .category-icon {
  opacity: 0;
}

.category-icon_active {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}

.category-card:hover .category-icon_active {
  opacity: 1;
}

.category-icon_active:hover {
  display: block;
}

.category-card .title {
  font-size: var(--FONT_SIZE_20);
  font-weight: var(--FONT_WEIGHT_700);
  margin-bottom: 10px;
  color: var(--COLOR_BLACK);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.category-card .subtitle {
  color: var(--COLOR_BLACK);
}

.sign-up {
  display: flex;
  min-width: 1381px;
}

.sign-up__info {
  margin-right: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up .title {
  margin-bottom: 50px;
  letter-spacing: 0.32px;
}

.sign-up .subtitle {
  margin-bottom: 30px;
  max-width: 415px;
  font-size: var(--FONT_SIZE_18);
  line-height: 25px;
}

.sign-up .button {
  font-size: var(--FONT_SIZE_18);
}

.sign-up-graphics {
  display: flex;
  position: relative;
  top: -8px;
}

.sign-up-graphics__vector-vector-3 {
  position: absolute;
  top: -8px;
  right: -88px;
}

.sign-up-graphics__vector-vector-4 {
  position: absolute;
  bottom: -131px;
  left: -88px;
}

.rectangle {
  width: 401px;
  height: 749px;
  position: relative;
}

.sign-up .rectangle {
  margin-right: 30px;
  background: url(../img/big-man-1.png) var(--COLOR_YELLOW) no-repeat bottom;
  border-radius: 200px 0px 200px 200.5px;
}

.sign-up .rectangle:last-child {
  background: url(../img/big-woman-1.png) var(--COLOR_ORANGE) no-repeat bottom;
  border-radius: 0px 200px 200.5px 200.5px;
}

.sign-up-dot-pattern {
  position: absolute;
  bottom: 708px;
  left: -341px;
  z-index: 2;
}

.sign-up-graphics-dot-pattern {
  position: absolute;
  bottom: 0px;
  right: -125px;
  z-index: 2;
}

@media (max-width: 1840px) {
  .sign-up__info {
    margin-right: 45px;
  }

  .rectangle {
    width: 320px;
    height: 700px;
  }

  .sign-up-dot-pattern {
    left: -185px;
  }

  .sign-up-graphics-dot-pattern {
    bottom: 25px;
  }

  .sign-up-graphics__vector-vector-3 {
    right: -140px;
  }

  .sign-up-graphics__vector-vector-4 {
    left: -125px;
  }
}

@media (max-width: 1279px) {
  .categories {
    padding: 50px 10px 0 10px;
  }

  .categories .title {
    text-align: center;
  }

  .sign-up-dot-pattern {
    display: none;
  }

  .sign-up {
    min-width: 960px;
    padding: 0 20px;
  }

  .rectangle {
    width: 255px;
    height: 620px;
  }

  .sign-up-graphics__vector-vector-4 {
    left: -190px;
  }

  .sign-up-graphics__vector-vector-3 {
    right: -205px;
  }
}

@media (max-width: 1023px) {
  .categories {
    padding-top: 50px;
  }

  .categories .title {
    text-align: center;
  }

  .jobs-categories-wrapper {
    min-width: auto;
    margin-bottom: 85px;
    gap: 25px;
  }

  .category-card {
    text-align: center;
  }

  .sign-up {
    flex-direction: column;
    min-width: 700px;
  }

  .sign-up__info {
    margin-right: 30px;
    margin-bottom: 50px;
    align-items: center;
  }

  .sign-up .title {
    margin-bottom: 30px;
  }

  .sign-up .subtitle {
    max-width: 490px;
    margin-bottom: 30px;
  }

  .sign-up-graphics {
    top: 0;
    justify-content: center;
  }

  .rectangle {
    width: 280px;
    height: 630px;
  }

  .sign-up-dot-pattern {
    left: -100px;
    bottom: 670px;
  }

  .sign-up-graphics-dot-pattern {
    bottom: 25px;
    right: -70px;
  }

  .sign-up-graphics__vector-vector-3 {
    top: -45px;
    right: -225px;
  }

  .sign-up-graphics__vector-vector-4 {
    left: -109px;
  }
}

@media (max-width: 767px) {
  .jobs-categories-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-card {
    margin-right: 0px;
  }

  .sign-up {
    min-width: 600px;
  }

  .sign-up__info {
    margin-right: 0;
  }

  .sign-up-dot-pattern {
    left: -135px;
  }

  .sign-up-graphics__vector-vector-3 {
    display: none;
  }

  .sign-up-graphics__vector-vector-4 {
    display: none;
  }

  .sign-up-graphics-dot-pattern {
    right: -120px;
  }
}

@media (max-width: 639px) {
  .jobs-categories-wrapper {
    margin-bottom: 50px;
  }

  .sign-up {
    min-width: 250px;
  }

  .sign-up .title {
    text-align: center;
  }

  .sign-up .subtitle {
    max-width: 250px;
    text-align: center;
    font-size: var(--FONT_SIZE_14);
    margin-bottom: 30px;
  }

  .sign-up-dot-pattern {
    left: -165px;
    bottom: 720px;
  }

  .sign-up-graphics {
    display: none;
  }
}

@media (max-width: 413px) {
  .sign-up {
    min-width: 185px;
  }
}
