.footer {
  padding-top: 112px;
  padding-bottom: 50px;
}

footer .menu {
  display: flex;
  gap: 25px;
  margin-right: 73px;
}

.footer__container {
  display: flex;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-right: 108px;
  min-width: 257px;
}

footer .logo {
  font-size: var(--FONT_SIZE_36);
  line-height: 30px;
  margin-bottom: 30px;
}

.address {
  margin-bottom: 10px;
  line-height: 30px;
}

.link_telephone {
  margin-bottom: 30px;
  text-decoration-line: underline;
  line-height: 30px;
  transition: var(--TRANSITION_NORMAL);
}

.link_telephone:hover {
  cursor: pointer;
  color: var(--COLOR_ORANGE);
}

.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.footer svg {
  transition: var(--TRANSITION_NORMAL);
}

.social-icon svg:hover {
  color: var(--COLOR_ORANGE);
}

footer .title {
  margin-bottom: 30px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
  line-height: 0;
}

.list__list-item:hover {
  color: var(--COLOR_ORANGE);
}

footer .list {
  display: flex;
  flex-direction: column;
}

footer .list__list-item {
  line-height: 50px;
  font-size: var(--FONT_SIZE_16);
}

footer .list__list-item:last-child {
  margin-bottom: 0;
}

.footer__news {
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

.news-card {
  display: flex;
  margin-bottom: 30px;
}

.news-card:hover {
  cursor: pointer;
}

.news-card:last-child {
  margin-bottom: 0;
}

.news-img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin-right: 20px;
}

.news_text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-size: var(--FONT_SIZE_16);
  line-height: 20px;
}

.news-paragraph:hover {
  transition: 0.2s;
  color: var(--COLOR_ORANGE);
}

.news-date {
  font-family: "Axiforma";
  font-weight: 600;
  font-size: var(--FONT_SIZE_12);
  letter-spacing: 1;
}

.news-paragraph {
  margin-bottom: 10px;
  color: var(--COLOR_BLACK);
}

.footer-hr {
  border: 1px solid var(--COLOR_LIGHT_GREY);
  margin-bottom: 30px;
}

.copyright_text {
  text-align: center;
  font-size: var(--FONT_SIZE_14);
  line-height: 30px;
}

.footer__dots_left {
  position: absolute;
  bottom: -121px;
  left: -359px;
}

.footer__dots_right {
  position: absolute;
  top: -90px;
  right: -340px;
}

@media (max-width: 1840px) {
  .footer__dots_right {
    top: -200px;
    right: -55px;
  }
}
@media (max-width: 1279px) {
  .footer__container {
    padding: 0 20px;
  }

  .footer__contacts {
    margin-right: 20px;
    max-width: none;
  }

  .footer__dots_right {
    right: 5px;
  }
}
@media (max-width: 1023px) {
  .footer {
    padding-top: 50px;
  }

  .footer__contacts {
    margin-right: 20px;
    min-width: 200px;
    font-size: var(--FONT_SIZE_12);
  }

  .link_telephone {
    margin-bottom: 10px;
  }

  footer .menu {
    margin-right: 20px;
    gap: 20px;
  }

  footer .title {
    min-width: 96px;
    font-size: var(--FONT_SIZE_16);
  }

  footer .list {
    gap: 10px;
  }

  footer .list__list-item {
    margin-bottom: 0;
    line-height: 20px;
  }

  .news_text {
    font-size: var(--FONT_SIZE_10);
  }

  .news-date {
    font-size: var(--FONT_SIZE_10);
  }

  .news-paragraph {
    margin-bottom: 0;
  }

  .footer__dots_left {
    display: none;
  }

  .footer__dots_right {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .footer__contacts {
    align-items: center;
    margin-right: 35px;
    margin-bottom: 30px;
  }

  footer .menu {
    margin-bottom: 30px;
  }

  .footer__news {
    margin-bottom: 30px;
  }
}
@media (max-width: 639px) {
  .footer__contacts {
    text-align: center;
    margin: 0;
  }

  footer .menu {
    text-align: left;
    margin-right: 0;
  }

  .footer__container {
    gap: 20px;
  }

  .footer__news {
    text-align: center;
  }

  .news_text {
    text-align: left;
  }
}
