footer {
  position: relative;
}

.footer__container {
  padding-top: 112px;
  padding-bottom: 50px;
  display: flex;
}

.footer__wrapper {
  display: flex;
  gap: 20px 64px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-right: 38px;
  min-width: 257px;
}

footer .logo {
  font-size: var(--FONT_SIZE_36);
  line-height: 30px;
  margin-bottom: 30px;
}

.logo_mobile {
  display: none;
}

.address {
  margin-bottom: 10px;
  line-height: 30px;
}

.link_telephone {
  margin-bottom: 30px;
  text-decoration-line: underline;
  line-height: 30px;
  transition: var(--TRANSITION_NORMAL);
}

.link_telephone:hover {
  cursor: pointer;
  color: var(--COLOR_ORANGE);
}

.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.social-icon {
  height: 32px;
}

.social-icon:hover svg path {
  fill: var(--COLOR_ORANGE);
}

footer .title {
  margin-bottom: 26px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
}

.list__list-item:hover {
  color: var(--COLOR_ORANGE);
}

footer .list {
  display: flex;
  flex-direction: column;
}

footer .list__list-item {
  line-height: 48px;
  font-size: var(--FONT_SIZE_16);
}

footer .list__list-item:last-child {
  margin-bottom: 0;
}

footer .menu {
  display: flex;
  gap: 64px;
}

.footer__news {
  display: flex;
  flex-direction: column;
  max-width: 365px;
}

.news-card {
  display: flex;
  margin-bottom: 30px;
}

.news-card:hover {
  cursor: pointer;
}

.news-card:last-child {
  margin-bottom: 0;
}

.news-img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  margin-right: 20px;
}

.news_text {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-size: var(--FONT_SIZE_16);
  line-height: 18px;
}

.news-paragraph:hover {
  transition: 0.2s;
  color: var(--COLOR_ORANGE);
}

.news-date {
  font-family: "Axiforma";
  font-weight: 600;
  font-size: var(--FONT_SIZE_12);
  letter-spacing: 1px;
}

.news-paragraph {
  margin-bottom: 10px;
  line-height: 140%;
  color: var(--COLOR_BLACK);
}

.footer-hr {
  border: 1px solid var(--COLOR_LIGHT_GREY);
}

.copyright_text {
  text-align: center;
  padding: 30px 0;
}

.footer__dots_left {
  position: absolute;
  bottom: 12px;
  left: 1vw;
}

.footer__dots_right {
  position: absolute;
  top: 27px;
  right: 1vw;
}

@media (max-width: 1580px) {
  .footer__dots_left {
    display: none;
  }

  .footer__dots_right {
    display: none;
  }
}

@media (max-width: 1279px) {
  .footer__container {
    padding-top: 75px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__contacts {
    max-width: none;
    margin-right: 0;
  }
}

@media (max-width: 1165px) {
  .footer__container {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
  }

  .footer__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  footer .logo {
    display: none;
    margin-bottom: 0;
  }

  footer .logo_mobile {
    display: block;
  }

  .footer__contacts {
    order: 1;
  }

  .link_telephone {
    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .footer__container {
    padding-top: 50px;
  }

  .footer__contacts {
    min-width: 164px;
  }

  .link_telephone {
    margin-bottom: 20px;
  }

  footer .menu {
    flex-wrap: wrap;
    gap: 30px 64px;
  }

  footer .title {
    min-width: 96px;
  }

  footer .list {
    gap: 10px;
  }

  footer .list__list-item {
    margin-bottom: 0;
    line-height: 35px;
  }

  .news-paragraph {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  footer .title {
    margin-bottom: 20px;
  }

  .footer__container {
    margin-bottom: 0px;
  }

  .footer__contacts {
    order: 1;
    margin: 0;
  }
}

@media (max-width: 639px) {
  .footer__container {
    padding-bottom: 26px;
  }

  footer .logo {
    display: none;
  }

  footer .logo_mobile {
    display: block;
  }

  .footer__contacts {
    order: 4;
  }

  .footer__news {
    margin-bottom: 0;
  }

  .copyright_text {
    padding: 20px 0;
  }
}

@media (max-width: 413px) {
  footer .title {
    font-size: var(--FONT_SIZE_16);
  }

  footer .menu {
    gap: 20px 40px;
  }

  .copyright_text {
    padding: 16px 0;
  }
}
