*{
  box-sizing: border-box;
}

html{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  font-family: 'Axiforma';
  color: var(--COLOR_DARK);
}

.logo{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: var(--FONT_WEIGHT_700);
  font-size: var(--FONT_SIZE_50);
}

:root{
  --COLOR_DEEP_BLACK: rgba(0, 0, 0, 1);
  --COLOR_BLACK:rgba(53, 53, 64, 1);
  --COLOR_WHITE:rgba(255, 255, 255, 1);
  --COLOR_ORANGE:rgba(238, 79, 60, 1);
  --COLOR_DARK:rgba(93, 93, 97, 1);
  --COLOR_GREY:rgba(245, 245, 245, 1);
  --COLOR_LIGHT_BROWN:rgba(211, 198, 196, 1);
  --COLOR_LIGHT_GREY:rgba(238, 238, 238, 1);
  --COLOR_SHADOW:rgba(204, 204, 204, 0.5);
  --COLOR_PURPLE:rgba(107, 90, 204, 1);
  --COLOR_YELLOW:rgba(254, 194, 71, 1);
  --COLOR_DARK_BLUE:rgba(35, 36, 67, 1);
  --COLOR_BACKGROUND_PEACH:rgba(255, 248, 248, 1);

  --FONT_SIZE_12: 12px;
  --FONT_SIZE_14: 14px;
  --FONT_SIZE_18: 18px;
  --FONT_SIZE_20: 20px;
  --FONT-SIZE_24: 24px;
  --FONT_SIZE_48: 48px;
  --FONT_SIZE_50: 50px;
  --FONT_SIZE_72: 72px;

  --FONT_WEIGHT_700: 700;
}

@font-face {
  font-family: 'Axiforma';
  src: url(../fonts/Axiforma-Regular.ttf);
  font-display: swap;
  font-style: normal;
}

.black-txt{
color: var(--COLOR_BLACK);
}

.white-txt{
  color: var(--COLOR_WHITE);
}

.fw-700{
  font-weight: 700;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: var(--FONT_SIZE_14);
}

.fs-18{
  font-size: var(--FONT_SIZE_18);
}

.fs-20{
  font-size: var(--FONT_SIZE_20);
}

.fs-24{
  font-size: 24px;
}

.fs-48{
  font-size: 48px;
}

.fs-50{
  font-size: var(--FONT_SIZE_50);
}

.fs-72{
  font-size: 72px;
}

.container{
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section{
  min-height: 920px;
}

.title{
  font-size: 48px;
  font-weight: 700;
  color: var(--COLOR_BLACK);
}



a{
  font-family: 'Axiforma';
  text-decoration: none;
  color: var(--COLOR_BLACK);
}

.decor-orange{
  color:var(--COLOR_ORANGE);
}

.hover-orange:hover{
  cursor: pointer;
  color:var(--COLOR_ORANGE);
  transition: 0.3s;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--COLOR_ORANGE);
  border-radius: 10px;
  border: none;
  height: 70px;
  width: 220px;
  font-weight: 600;
  color: var(--COLOR_WHITE);
}

input{
  font-family: 'Axiforma';
  min-height: 50px;
}

.list-link{
  color: var(--COLOR_DARK);
}

.list-link:hover{
  color: var(--COLOR_ORANGE);
  transition: 0.3s;
}
