*{
  box-sizing: border-box;
}

html{
  /* overflow: hidden; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
  --COLOR_BLACK:#000;
  --COLOR_WHITE:#FFFFFF;
  --COLOR_ORANGE:#EE4F3C;
  --COLOR_DARK:#353540;

  --FONT_SIZE_12: 12px;
  --FONT_SIZE_14: 14px;
  --FONT_SIZE_18: 18px;
  --FONT_SIZE_20: 20px;
  --FONT-SIZE_24: 24px;
  --FONT_SIZE_48: 48px;
  --FONT_SIZE_50: 50px;
  --FONT_SIZE_72: 72px;

  --FONT_WEIGHT_700: 700;
}

.dark-txt{
color: var(--COLOR_DARK);
}

.white-txt{
  color: var(--COLOR_WHITE);
}

.fw-700{
  font-weight: 700;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: var(--FONT_SIZE_14);
}

.fs-18{
  font-size: var(--FONT_SIZE_18);
}

.fs-20{
  font-size: var(--FONT_SIZE_20);
}

.fs-24{
  font-size: 24px;
}

.fs-48{
  font-size: 48px;
}

.fs-50{
  font-size: var(--FONT_SIZE_50);
}

.fs-72{
  font-size: 72px;
}

.container{
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section{
  min-height: 920px;
}

.title{
  font-weight: 500;
}

a{
  text-decoration: none;
}

.decor-orange{
  color:var(--COLOR_ORANGE);
}

.link-black{
  color: var(--COLOR_BLACK);
}

.link-white{
  color:var(--COLOR_WHITE);
}

.buttons{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--COLOR_ORANGE);
  border-radius: 10px;
  border: none;
  height: 70px;
  width: 220px;
  font-weight: 600;
}

/* form{
  padding: 23px 31px 28px 20px;
  box-shadow: 0px 30px 70px rgba(204, 204, 204, 0.5);
} */

/* .search-input{
  padding: 17px 31px 28px 20px;
} */
