.header {
  padding: 50px 10px 50px 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.nav-container {
  display: flex;
}

header .menu {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}

header list-item {
  margin-right: 64px;
  font-size: var(--FONT_SIZE_18);
}

header list-item:last-child {
  margin-right: 0;
}

header .list-item a {
  text-decoration: none;
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
}

.hamburger {
  display: none;
}

.hamburger:hover {
  background-color: var(--COLOR_SHADOW);
}

.menu__list {
  display: flex;
  font-size: var(--FONT_SIZE_18);
}

.nav-menu .list-item {
  margin-right: 40px;
}

.nav-menu .list__list-item:last-child {
  margin-right: 0;
}

.button_cta {
  margin-left: 5vw;
}

@media (max-width: 1279px) {
  .header {
    padding-bottom: 60px;
  }

  header .list-item a {
    font-size: var(--FONT_SIZE_16);
  }

  .button_cta {
    margin-left: 4vw;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 18px 0;
  }

  .header-wrapper {
    max-width: 980px;
  }

  .hamburger {
    display: block;
    position: fixed;
    z-index: 30;
    height: 30px;
    width: 30px;
    top: 30px;
    right: 20px;
    background-color: var(--COLOR_PLAY_BTN_BACKGROUND);
    border: none;
    border-radius: 30px;
  }

  .hamburger__item {
    height: 2px;
    width: 100%;
    display: block;
    background: var(--COLOR_BLACK);
    margin-bottom: 3px;
    transition: var(--TRANSITION_NORMAL) all;
  }

  .hamburger__item:last-child {
    margin-bottom: 0;
  }

  .hamburger_active span:nth-child(1) {
    transform: translateY(2px) rotate(-45deg);
  }

  .hamburger_active span:nth-child(2) {
    display: none;
  }

  .hamburger_active span:nth-child(3) {
    transform: translateY(-3px) rotate(45deg);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background: var(--COLOR_GREY);
    z-index: 20;
    width: 100%;
  }

  .nav-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  header .nav-menu__list a {
    transition: var(--TRANSITION_NORMAL);
  }

  header .nav-menu__list a:hover {
    color: var(--COLOR_ORANGE);
  }

  header .list__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  header .list__list-item a {
    transition: var(--TRANSITION_NORMAL);
  }

  .header .list__list-item a:hover {
    color: var(--COLOR_ORANGE);
  }

  .nav-menu_active {
    right: 0;
  }

  .nav-menu .list-item {
    margin-right: 0;
  }

  header .logo {
    text-align: left;
  }

  header .menu__list {
    display: none;
  }

  .button_cta {
    display: none;
  }
}

@media (max-height: 450px) {
  .nav-menu_mobile {
    padding: 25px 0;
  }

  .nav-menu__list {
    gap: 25px;
  }
}

@media (max-width: 413px) {
  header .logo {
    font-size: var(--FONT_SIZE_48);
  }
}
