.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
}

.nav-menu__list-item {
  margin-right: 64px;
  font-size: var(--FONT_SIZE_18);
}

.nav-menu__list-item:last-child {
  margin-right: 0;
}

.nav-menu__list-item a {
  text-decoration: none;
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
}

.hamburger {
  display: none;
}

.hamburger:hover {
  background-color: var(--COLOR_SHADOW);
}

.menu__list {
  display: flex;
  font-size: var(--FONT_SIZE_18);
}

.menu__list-item {
  margin-right: 40px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.nav__button {
  height: 50px;
  width: 140px;
}

.button_cta {
  font-size: var(--FONT_SIZE_20);
}

@media (max-width: 1023px) {
  header {
    padding: 50px 0 50px 0;
  }

  .header-wrapper {
    max-width: 980px;
  }
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 30;
    height: 30px;
    width: 30px;
    top: 30px;
    right: 30px;
    background-color: var(--COLOR_PLAY_BTN_BACKGROUND);
    border: none;
    border-radius: 30px;
  }

  .hamburger__item {
    height: 2px;
    width: 100%;
    display: block;
    background: var(--COLOR_BLACK);
    margin-bottom: 3px;
    transition: var(--TRANSITION_NORMAL) all;
  }

  .hamburger__item:last-child {
    margin-bottom: 0;
  }

  .hamburger_active span:nth-child(1) {
    transform: translateY(2px) rotate(-45deg);
  }

  .hamburger_active span:nth-child(2) {
    display: none;
  }

  .hamburger_active span:nth-child(3) {
    transform: translateY(-3px) rotate(45deg);
  }

  .nav-menu {
    display: block;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background: var(--COLOR_GREY);
    z-index: 20;
    width: 50%;
  }

  .nav-menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .nav-menu__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .nav-menu__list-item a {
    transition: var(--TRANSITION_NORMAL);
  }

  .nav-menu__list-item a:hover {
    color: var(--COLOR_ORANGE);
  }

  .nav-menu_active {
    right: 0;
  }

  .header-wrapper {
    justify-content: center;
  }

  header .logo {
    font-size: var(--FONT_SIZE_72);
  }

  header .menu__list {
    display: none;
  }

  .button_cta {
    display: none;
  }
}
@media (max-width: 413px) {
  header .logo {
    font-size: var(--FONT_SIZE_48);
  }
}
