.hero {
  display: flex;
  justify-content: center;
  max-height: 677px;
  padding-left: 75px;
}

.hero__ellipse-big {
  position: relative;
}

.hero__ellipse-small {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 655px;
}

.info .title {
  margin-bottom: 30px;
  font-size: var(--FONT_SIZE_72);
  letter-spacing: 1.44px;
}

.info .subtitle {
  max-width: 600px;
  margin-bottom: 35px;
  font-size: var(--FONT_SIZE_18);
  line-height: 34px;
  letter-spacing: 0.36px;
}

.search-container {
  display: flex;
  align-items: center;
  background: none;
  border-radius: 10px;
  box-shadow: 0px 30px 70px var(--COLOR_SHADOW);
}

.search-container__search-form {
  display: flex;
  padding-left: 20px;
  align-items: center;
  border-radius: 10px;
  width: 658px;
}

.search-area {
  display: flex;
  border-radius: 10px;
  width: 250px;
  padding: 5px 0;
}

.search-input {
  border: none;
  outline: none;
  max-width: 187px;
  background: none;
}

.line {
  display: block;
  width: 1px;
  height: 42px;
  margin-left: 8px;
  margin-right: 24px;
  background-color: var(--COLOR_BORDER);
}

.location-input {
  border: none;
  outline: none;
  max-width: 165px;
  margin-right: 5px;
  background: none;
}

.search-container__search-icon {
  margin-right: 20px;
}

.location-icon {
  margin-right: 10px;
}

.search-button {
  max-width: 180px;
  border-radius: 0 10px 10px 0;
  font-size: var(--FONT_SIZE_20);
}

.graphics {
  position: relative;
}

.graphics__img {
  position: relative;
  top: -82px;
  right: -159px;
}

.graphics__ellipse-big {
  position: absolute;
  z-index: -1;
  bottom: -60px;
  right: -295px;
}

.graphics__ellipse-small {
  position: absolute;
  z-index: -1;
  bottom: 80px;
  right: -159px;
}

.graphics__flying-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px 20px 50px var(--COLOR_LIGHT_GREY);
  border-radius: 20px;
  background-color: var(--COLOR_WHITE);
  height: 80px;
  width: 80px;
}

.graphics__flying-card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 170px;
  box-shadow: 0px 20px 50px var(--COLOR_SHADOW);
  border-radius: 25px;
  background-color: var(--COLOR_WHITE);
}

.flying-card__title {
  margin-bottom: 5px;
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
  font-weight: 700;
}

.flying-card__subtitle {
  font-size: var(--FONT_SIZE_14);
}

.flying-card__img-block {
  position: relative;
  height: 120px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 15px;
}

.flying-card__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR_WHITE);
  position: absolute;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 50px var(--COLOR_CARD_CIRCLE_SHADOW);
  border-radius: 50px;
  top: 100px;
  right: 0px;
  gap: 5px;
}

.flying-card__rating {
  font-size: var(--FONT_SIZE_12);
}

.first-flying-card {
  top: -675px;
  right: -51px;
}

.first-img {
  background: url(../img/woman-card-1.png) no-repeat var(--COLOR_PURPLE);
}

.second-flying-card {
  top: -1154px;
  right: -681px;
}

.second-img {
  background: url(../img/man-card-1.png) no-repeat var(--COLOR_YELLOW) center;
}

.google-icon {
  top: -637px;
  right: -59px;
  transform: rotate(324deg);
}

.google-img {
  transform: rotate(36deg);
}

.paypal-icon {
  bottom: 437px;
  left: 729px;
  transform: rotate(18deg);
}

.paypal-img {
  transform: rotate(341deg);
}

.indeed-icon {
  top: -993px;
  right: -190px;
  transform: rotate(-72.74deg);
}

.indeed-img {
  transform: rotate(74deg);
}

.slack-icon {
  top: -1000px;
  right: -657px;
  transform: rotate(15deg);
}

.slack-img {
  transform: rotate(72deg);
}

@media (max-width: 1840px) {
  .hero {
    max-height: 560px;
  }

  .info {
    max-width: 575px;
  }

  .info .title {
    font-size: var(--FONT_SIZE_50);
    line-height: 60px;
  }

  .info .subtitle {
    font-size: var(--FONT_SIZE_16);
    max-width: 465px;
  }

  .location-input {
    max-width: 130px;
  }

  .search-container__search-form {
    width: 575px;
  }

  .graphics__img {
    height: 650px;
    width: 450px;
    top: -90px;
    right: -40px;
  }

  .graphics__ellipse-big {
    height: 600px;
    width: 600px;
    bottom: 55px;
    right: -115px;
  }

  .graphics__ellipse-small {
    height: 425px;
    width: 425px;
    bottom: 140px;
    right: -28px;
  }

  .graphics__flying-icon {
    height: 70px;
    width: 70px;
  }

  .google-icon {
    top: -545px;
    right: 35px;
  }

  .paypal-icon {
    bottom: 435px;
    left: 485px;
  }

  .indeed-icon {
    top: -870px;
    right: -80px;
  }

  .slack-icon {
    top: -900px;
    right: -410px;
  }

  .graphics__flying-card {
    height: 175px;
    width: 145px;
  }

  .flying-card__img-block {
    height: 110px;
    width: 130px;
  }

  .flying-card__circle {
    height: 35px;
    width: 35px;
  }

  .first-flying-card {
    top: -565px;
    right: -5px;
  }

  .second-flying-card {
    top: -1055px;
    right: -410px;
  }
}
@media (max-width: 1279px) {
  .hero {
    max-height: 580px;
    overflow: hidden;
  }

  .graphics__img {
    height: 550px;
    width: 400px;
    top: 30px;
    right: -5px;
  }

  .graphics__ellipse-big {
    height: 425px;
    width: 425px;
    bottom: 130px;
    right: -15px;
  }

  .graphics__ellipse-small {
    height: 275px;
    width: 275px;
    bottom: 205px;
    right: 60px;
  }

  .graphics__flying-icon {
    height: 60px;
    width: 60px;
  }

  .google-icon {
    top: -410px;
    right: 20px;
  }

  .paypal-icon {
    bottom: 460px;
    left: 350px;
  }

  .indeed-icon {
    top: -630px;
    right: -50px;
  }

  .slack-icon {
    top: -680px;
    right: -305px;
  }

  .graphics__flying-card {
    height: 170px;
    width: 140px;
  }
  .first-flying-card {
    top: -440px;
    right: -5px;
  }

  .second-flying-card {
    top: -610px;
    right: -275px;
  }
}
@media (max-width: 1023px) {
  .hero {
    min-height: 940px;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    gap: 32px;
  }

  .info .title {
    text-align: center;
    line-height: 70px;
  }

  .menu__list-item {
    margin-right: 20px;
  }

  .info {
    align-items: center;
  }

  .search-container__search-icon {
    margin-right: 10px;
  }

  .search-container__search-form {
    padding: 0 0 0 10px;
  }

  .location-icon {
    margin-right: 10px;
  }

  .search-container__location-form {
    padding: 0 10px 0 10px;
  }

  .graphics__img {
    top: 20px;
    right: 0;
  }

  .graphics__ellipse-big {
    height: 650px;
    width: 650px;
    bottom: 470px;
    right: -135px;
  }

  .graphics__ellipse-small {
    height: 450px;
    width: 450px;
    bottom: 575px;
    right: -35px;
  }

  .graphics__flying-icon {
    height: 60px;
    width: 60px;
  }

  .google-icon {
    top: -320px;
    right: 110px;
  }

  .paypal-icon {
    bottom: 210px;
    left: 445px;
  }

  .indeed-icon {
    top: -605px;
    right: -15px;
  }

  .slack-icon {
    top: -595px;
    right: -405px;
  }

  .graphics__flying-card {
    height: 170px;
    width: 140px;
  }

  .flying-card__img-block {
    height: 100px;
    width: 130px;
  }

  .flying-card__title {
    font-size: var(--FONT_SIZE_18);
  }

  .flying-card__circle {
    height: 25px;
    width: 25px;
    gap: 0;
    top: 85px;
  }

  .first-flying-card {
    top: -455px;
    right: 105px;
  }

  .second-flying-card {
    top: -735px;
    right: -405px;
  }
}
@media (max-width: 767px) {
  .hero {
    min-height: 940px;
  }

  .info {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .graphics__flying-card {
    height: 170px;
    width: 140px;
  }

  .second-flying-card {
    top: -750px;
    right: -370px;
  }
}
@media (max-width: 639px) {
  .title {
    font-size: var(--FONT_SIZE_30);
  }

  .hero {
    min-height: 440px;
  }

  .info .title {
    max-width: 345px;
    text-align: center;
    line-height: 35px;
  }

  .info .subtitle {
    max-width: 360px;
    text-align: center;
    font-size: var(--FONT_SIZE_14);
    line-height: 25px;
    margin-bottom: 25px;
  }

  .search-container__search-form {
    width: auto;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
  }

  .search-area {
    width: 340px;
  }

  .search-container__search-icon {
    margin-right: 5px;
    margin-left: 5px;
  }

  ::placeholder {
    font-size: var(--FONT_SIZE_14);
  }

  .search-input {
    min-width: 300px;
  }

  .search-container__location-form {
    padding: 0 5px 0 5px;
    border-radius: 10px;
  }

  .location-icon {
    margin-right: 5px;
    margin-left: 5px;
  }

  .location-input {
    min-width: 300px;
  }

  .line {
    display: none;
  }

  .graphics {
    display: none;
  }

  .search-button {
    height: 50px;
    min-width: 340px;
    font-size: var(--FONT_SIZE_18);
    border-radius: 10px;
  }
}
@media (max-width: 413px) {
  .title {
    font-size: var(--FONT_SIZE_24);
  }

  .hero {
    min-height: 500px;
  }

  .info .title {
    max-width: 275px;
  }

  .info .subtitle {
    max-width: 275px;
    font-size: var(--FONT_SIZE_12);
  }

  .search-area {
    width: 260px;
  }

  .search-input {
    min-width: 230px;
  }

  .location-input {
    min-width: 230px;
  }

  .search-button {
    min-width: 260px;
  }
}
