.hero {
  display: flex;
  position: relative;
  max-height: 677px;
}

.hero__ellipse-big {
  position: relative;
}

.hero__ellipse-small {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 665px;
}

.info .title {
  margin-bottom: 30px;
  font-size: var(--FONT_SIZE_72);
  letter-spacing: 1.44px;
}

.info .subtitle {
  max-width: 600px;
  margin-bottom: 35px;
  font-size: var(--FONT_SIZE_18);
  line-height: 175%;
  letter-spacing: 0.36px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border-radius: 10px;
  box-shadow: 0px 30px 70px var(--COLOR_SHADOW);
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.search-wrapper {
  display: flex;
  width: 100%;
}

.search-form__search-area {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-form__search-area:first-child {
  padding: 0 10px 0 20px;
}

.search-form__search-area:last-child {
  border-left: 1px solid var(--COLOR_BORDER);
  padding: 0 20px 0 10px;
}

.search-form__input {
  border: none;
  outline: none;
  background: none;
}

.search-form__location-input {
  border: none;
  outline: none;
  background: none;
}

.search-form__icon {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.button_search {
  max-width: 180px;
  border-radius: 0 10px 10px 0;
  font-size: var(--FONT_SIZE_20);
}

.hero-graphics {
  position: relative;
  left: 5px;
  bottom: 90px;
  padding: 0 130px;
  border: 5px solid black;
}

.img {
  position: relative;
}

.hero-graphics__ellipse-big {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero-graphics__ellipse-small {
  position: absolute;
  left: 135px;
  top: 135px;
  z-index: -1;
}

.hero-graphics__floating-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 20px 50px var(--COLOR_LIGHT_GREY);
  border-radius: 20px;
  background-color: var(--COLOR_WHITE);
  height: 80px;
  width: 80px;
}

.floating-card {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 170px;
  box-shadow: 0px 20px 50px var(--COLOR_SHADOW);
  border-radius: 25px;
  background-color: var(--COLOR_WHITE);
}

.title_name {
  margin-bottom: 5px;
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_20);
  font-weight: 700;
}

.subtitle_profession {
  font-size: var(--FONT_SIZE_14);
}

.floating-card__img {
  position: relative;
  height: 120px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 15px;
}

.floating-card__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR_WHITE);
  position: absolute;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 50px var(--COLOR_CARD_CIRCLE_SHADOW);
  border-radius: 50px;
  top: 100px;
  right: 0px;
  gap: 5px;
}

.floating-card__rating {
  font-size: var(--FONT_SIZE_12);
}

.floating-card_purple {
  bottom: -18px;
  left: 24px;
}

.floating-card_purple .floating-card__img {
  background: url(../img/woman-card-1.png) no-repeat var(--COLOR_PURPLE);
}

.floating-card_yellow {
  top: 210px;
  right: -7px;
}

.floating-card_yellow .floating-card__img {
  background: url(../img/man-card-1.png) no-repeat var(--COLOR_YELLOW) center;
}

.google-icon {
  top: 208px;
  left: 32px;
  transform: rotate(324deg);
}

.google-icon img {
  transform: rotate(36deg);
}

.paypal-icon {
  bottom: 100px;
  right: 35px;
  transform: rotate(18deg);
}

.paypal-icon img {
  transform: rotate(341deg);
}

.indeed-icon {
  top: 13px;
  left: 162px;
  transform: rotate(-72.74deg);
}

.indeed-icon img {
  transform: rotate(74deg);
}

.slack-icon {
  top: 85px;
  right: 105px;
  transform: rotate(15deg);
}

.slack-icon img {
  transform: rotate(72deg);
}

@media (max-width: 1919px) {
  .hero {
    max-height: 627px;
  }

  .hero-graphics {
    transform: scale(0.9);
    top: -90px;
  }

  .hero-graphics__ellipse-big {
    bottom: -185px;
  }

  .hero-graphics__ellipse-small {
    bottom: -50px;
  }

  .paypal-icon {
    bottom: 60px;
    left: 575px;
  }

  .floating-card_purple {
    top: 490px;
    right: 485px;
  }

  .floating-card_yellow {
    top: 213px;
    right: -145px;
  }
}

@media (max-width: 1840px) {
  .hero {
    max-height: 425px;
  }

  .info {
    max-width: 575px;
  }

  .info .title {
    font-size: var(--FONT_SIZE_50);
    margin-bottom: 24px;
  }

  .info .subtitle {
    font-size: var(--FONT_SIZE_16);
    max-width: 465px;
  }

  .hero-graphics {
    transform: scale(0.6);
    top: -117px;
    left: 45px;
  }

  .hero-graphics__ellipse-big {
    bottom: -390px;
  }

  .hero-graphics__ellipse-small {
    bottom: -255px;
  }

  .paypal-icon {
    bottom: -145px;
    left: 570px;
  }

  .indeed-icon {
    top: 15px;
  }

  .slack-icon {
    top: 85px;
  }

  .floating-card_purple {
    top: 490px;
    right: 490px;
  }

  .floating-card_yellow {
    top: 215px;
    right: -139px;
  }
}

@media (max-width: 1279px) {
  .hero {
    justify-content: start;
    max-height: 400px;
    overflow: hidden;
  }

  .hero-graphics {
    transform: scale(0.4);
    left: -75px;
    top: -25px;
  }

  .hero-graphics__ellipse-big {
    bottom: -410px;
  }

  .hero-graphics__ellipse-small {
    bottom: -270px;
  }

  .google-icon {
    top: 206px;
    right: 573px;
  }

  .paypal-icon {
    bottom: -165px;
    left: 575px;
  }

  .indeed-icon {
    top: 6px;
  }

  .slack-icon {
    top: 80px;
  }

  .floating-card_yellow {
    top: 205px;
  }
}

@media (max-width: 1023px) {
  .hero {
    max-height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    padding-top: 30px;
    gap: 32px;
  }

  .info .title {
    text-align: center;
  }

  .info .subtitle {
    text-align: center;
  }

  .nav-menu .list__list-item {
    margin-right: 20px;
  }

  .info {
    align-items: center;
  }

  .search-icon {
    margin-right: 10px;
  }

  .search-form {
    padding: 0 0 0 10px;
  }

  .location-icon {
    margin-right: 10px;
  }

  .search-container__location-form {
    padding: 0 10px 0 10px;
  }

  .hero-graphics {
    transform: scale(0.6);
    top: -104px;
    left: 0;
  }

  .img {
    top: 0;
    right: 0;
  }

  .hero-graphics__ellipse-big {
    bottom: -50px;
    right: -135px;
  }

  .hero-graphics__ellipse-small {
    bottom: 85px;
    right: 0px;
  }

  .google-icon {
    top: 210px;
    left: -100px;
    right: 0;
  }

  .paypal-icon {
    bottom: 195px;
    right: 0;
    left: 570px;
  }

  .indeed-icon {
    top: 15px;
    right: 0;
    left: 30px;
  }

  .slack-icon {
    top: 90px;
    right: -25px;
  }

  .floating-card_purple {
    top: 490px;
    right: 490px;
  }

  .floating-card_yellow {
    top: 210px;
    right: -140px;
  }
}

@media (max-width: 767px) {
  .hero {
    max-height: 875px;
    padding-bottom: 50px;
  }

  .info {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .info .title {
    font-size: var(--FONT_SIZE_42);
    max-width: 400px;
    margin-bottom: 20px;
  }
}

@media (max-width: 639px) {
  .title {
    font-size: var(--FONT_SIZE_30);
  }

  .info .title {
    max-width: 350px;
    font-size: var(--FONT_SIZE_30);
    text-align: center;
  }

  .info .subtitle {
    text-align: center;
    font-size: var(--FONT_SIZE_14);
    margin-bottom: 25px;
  }

  .search-container {
    width: 100%;
  }

  .search-wrapper {
    flex-direction: column;
  }

  .search-form {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
  }

  .search-form__search-area {
    width: 100%;
  }

  .search-form__search-area:first-child {
    padding: 0 0 5px;
  }

  .search-form__search-area:last-child {
    border-left: none;
    border-top: 1px solid var(--COLOR_BORDER);
    padding: 5px 0 0;
  }

  .search-icon {
    margin-right: 5px;
    margin-left: 5px;
  }

  ::placeholder {
    font-size: var(--FONT_SIZE_14);
  }

  .search-container__location-form {
    padding: 0 5px 0 5px;
    border-radius: 10px;
  }

  .location-icon {
    margin-right: 5px;
    margin-left: 5px;
  }

  .hero-graphics {
    display: none;
  }

  .button_search {
    height: 50px;
    width: 100%;
    max-width: none;
    font-size: var(--FONT_SIZE_18);
    border-radius: 10px;
  }
}

@media (max-width: 413px) {
  .info .title {
    font-size: var(--FONT_SIZE_24);
    margin-bottom: 14px;
  }

  .info .subtitle {
    font-size: var(--FONT_SIZE_12);
  }
}
