.job-posts {
  background:var(--COLOR_DARK_BLUE) center;
}

.job-posts__container {
  padding-top: 95px;
  padding-bottom: 70px;
}

.job-posts__title {
  margin-bottom: 50px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_48);
  letter-spacing: 0.05em;
  line-height: 75px;
}

.job-posts__card-wrapper {
  display: flex;
  margin-bottom: 60px;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 370px;
  height: 250px;
  border-radius: 20px;
  padding: 15px 30px 20px 20px;
  background: var(--COLOR_WHITE);
}

.card:first-child {
  background: rgba(238, 79, 60, 0.5);
}

.card-content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-content__left-side {
  display: flex;
  align-items: center;
}

.card-content__card-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background-color: var(--COLOR_WHITE);
  margin-right: 20px;
  box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);
}

.card-content__title {
  font-size: var(--FONT_SIZE_20);
}

.card-content__right-side {
  position: relative;
  margin: 10px -5px 0 0;
  display: flex;
  z-index: 4;
}

.right-side__first-circle {
  position: relative;
  z-index: 1;
  left: 39px;
  max-height: 44px;
}

.right-side__second-circle {
  position: relative;
  z-index: 2;
  left: 19px;
  max-height: 44px;
}

.right-side__third-circle {
  position: relative;
  z-index: 3;
  text-align: center;
  max-height: 42px;
}

.avatar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
}

.card-content__middle_title {
  margin-bottom: 12px;
  font-weight: var(--FONT_WEIGHT_700);
  font-size: var(--FONT_SIZE_24);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-content__middle_subtitle {
  margin-bottom: 36px;
}

.card-content__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: var(--FONT_SIZE_14);
  letter-spacing: 0.05em;
}

.card-content__button-text {
  font-size: var(--FONT_SIZE_14);
  letter-spacing: 0.05em;
  font-weight: 600;
}

.white-btn {
  background: rgba(255, 255, 255, 0.1);
}

.grey-btn {
  background: var(--COLOR_GREY);
}

.job-posts__scroll-block {
  display: flex;
  justify-content: center;
}

.scroll-block__text {
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_24);
  letter-spacing: 0.05em;
  line-height: 39px;
}

.scroll-block__text:hover{
  color: var(--COLOR_ORANGE);
  transition: 0.2s;
}

.arrow{
  opacity: 1;
}

.arrow-active{
  opacity: 0;
  position: relative;
  right: 35px;
}

.scroll-block__text:hover .arrow {
  opacity: 0;
  transition: 0.5s;
}

.scroll-block__text:hover .arrow-active {
  opacity: 1;
  transition: 0.5s
}

@media (max-width: 1279px) {

  .card{
    padding: 15px 25px 20px 20px;
  }

  .card-content__middle_title {
    font-size: var(--FONT_SIZE_20);
  }

  .card-content__button {
    width: 80px;
  }

  .job-posts {
    min-height: 480px;
  }

  .job-posts__container {
    padding: 95px 20px 0 20px;
  }
}

@media (max-width: 1023px) {

  .job-posts {
    min-height: auto;
  }

  .job-posts__title {
    text-align: center;
  }

  .job-posts__card-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .job-posts__container {
    padding-top: 50px;
  }

  .card {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    width: 310px;
    height: 220px;
  }

  .card-content__middle_subtitle {
    margin-bottom: 10px;
  }

  .scroll-block__text {
    margin-bottom: 10px;
    font-size: var(--FONT_SIZE_20);
  }
}

@media (max-width: 767px) {

  .job-posts__title {
    font-size: var(--FONT_SIZE_30);
  }

  .job-posts__card-wrapper {
    justify-content: center;
  }

}

@media (max-width: 413px) {

  .card {
    width: 245px;
    padding: 15px 10px 15px 10px;
  }

  .card-content__right-side {
    margin: 10px -5px 0 0;
  }

  .card-content__title {
    font-size: var(--FONT_SIZE_20);
  }

  .card-content__middle_title {
    font-size: var(--FONT_SIZE_18);
  }

  .card-content__middle_subtitle {
    font-size: var(--FONT_SIZE_14);
  }

  .card-content__bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .card-content__button-text {
    font-size: var(--FONT_SIZE_12);
  }

  .right-side__first-circle {
    display: none;
  }

  .right-side__second-circle {
    display: none;
  }
}
