.job-posts {
  position: relative;
  padding-top: 95px;
  padding-bottom: 70px;
  background: url(/src/backgound-svg/2-background.svg) var(--COLOR_DARK_BLUE)
    center;
}

.job-posts .title {
  margin-bottom: 50px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_48);
  letter-spacing: 1px;
}

.job-posts__cards-wrapper {
  display: flex;
  margin-bottom: 60px;
  gap: 30px;
  justify-content: center;
}

.job-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 250px;
  border-radius: 20px;
  padding: 15px 30px 20px 20px;
  background: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card:hover {
  background-color: var(--COLOR_HOVER_CARD);
}

.job-card:hover .job-card__company-name {
  color: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card:hover .title_vacancy {
  color: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card:hover .subtitle_occupation {
  color: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card:hover .card-content__feature {
  background: var(--COLOR_CARD_BTN_BACKGROUND);
  color: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card:hover .feature__text {
  color: var(--COLOR_WHITE);
  transition: var(--TRANSITION_NORMAL);
}

.job-card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.job-card__company-info {
  display: flex;
  align-items: center;
}

.job-card__company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background-color: var(--COLOR_WHITE);
  margin-right: 20px;
  box-shadow: 0px 4px 50px var(--COLOR_CARD_CIRCLE_SHADOW);
}

.job-card__company-name {
  font-size: var(--FONT_SIZE_20);
}

.job-card__avatars {
  position: relative;
  margin: 10px -5px 0 0;
  display: flex;
  z-index: 4;
}

.job-card__avatar:nth-child(1) {
  position: relative;
  z-index: 1;
  left: 39px;
}

.job-card__avatar:nth-child(2) {
  position: relative;
  z-index: 2;
  left: 19px;
}

.job-card__avatar:nth-child(3) {
  position: relative;
  z-index: 3;
  text-align: center;
}

.avatar_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
}

.title_vacancy {
  color: var(--COLOR_BLACK);
  margin-bottom: 12px;
  font-weight: var(--FONT_WEIGHT_700);
  font-size: var(--FONT_SIZE_24);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.subtitle_occupation {
  margin-bottom: 36px;
}

.card-content__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content__feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background: var(--COLOR_GREY);
  border-radius: 5px;
  font-size: var(--FONT_SIZE_14);
  letter-spacing: 1px;
}

.feature__text {
  font-size: var(--FONT_SIZE_14);
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--COLOR_BLACK);
}

.link_white {
  display: flex;
  justify-content: center;
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_24);
  letter-spacing: 1px;
  transition: var(--TRANSITION_NORMAL);
  gap: 10px;
}

.link_white:hover {
  color: var(--COLOR_ORANGE);
}

@media (max-width: 1279px) {
  .job-card {
    padding: 15px 25px 20px 20px;
  }

  .title_vacancy {
    font-size: var(--FONT_SIZE_20);
  }

  .card-content__feature {
    width: 80px;
  }

  .job-posts {
    padding: 95px 20px 50px 20px;
  }

  .job-posts .title {
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .job-posts {
    padding-top: 50px;
  }

  .job-posts .title {
    text-align: center;
  }

  .job-posts__cards-wrapper {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .job-card {
    gap: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
  }

  .subtitle_occupation {
    margin-bottom: 0;
  }

  .text {
    margin-bottom: 10px;
    font-size: var(--FONT_SIZE_20);
  }

  .card-content__feature {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .job-posts {
    padding-top: 25px;
  }

  .job-posts .title {
    font-size: var(--FONT_SIZE_30);
    margin-bottom: 25px;
  }

  .job-posts__cards-wrapper {
    justify-content: center;
  }

  .card-content__feature {
    width: 80px;
  }
}

@media (max-width: 413px) {
  .job-posts {
    padding: 95px 0 25px 0;
  }

  .job-posts .title {
    line-height: 35px;
  }

  .job-card {
    width: 245px;
    padding: 15px 10px 15px 10px;
    margin-right: 0;
    gap: 20px;
  }

  .job-card__avatars {
    margin: 10px -5px 0 0;
  }

  .job-card__company-name {
    font-size: var(--FONT_SIZE_20);
  }

  .job-card__top {
    margin-bottom: 0;
  }

  .title_vacancy {
    font-size: var(--FONT_SIZE_18);
  }

  .subtitle_occupation {
    font-size: var(--FONT_SIZE_14);
  }

  .card-content__bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .card-content__feature {
    width: 100px;
  }

  .feature__text {
    font-size: var(--FONT_SIZE_12);
  }

  .job-card__avatar:first-child {
    display: none;
  }

  .job-card__avatar:nth-child(2) {
    display: none;
  }
}
