.third-section{
  padding-top: 130px;
  margin-bottom: 250px;
}

.third-section__background{
  background:url(../backgound-svg/background-3.svg) var(--COLOR_BACKGROUND_PEACH) no-repeat center;
}

.third-section__container{
  display: flex;
}

.third-section__left-wrapper{
  position: relative;
  top: 100px;
  margin-right: 85px;
}

.play-button{
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(../icons/play-button.svg) rgba(255, 255, 255, 0.7) no-repeat center;
  border-radius: 50px;
  bottom: 45%;
  left: 40%;
  border: none;
}

.third-section__right-wrapper{
  padding-top: 190px;
  max-width: 425px;
  font-size: var(--FONT_SIZE_18);
}

.third-section__title{
  margin-bottom: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
}

.third-section__subtitle{
  max-width: 360px;
  margin-bottom: 30px;
  line-height: 34px;
}

.fourth-section__container{
padding-bottom: 150px;
}

.fourth-section__title{
  max-width: 440px;
  margin-bottom: 50px;
  line-height: 55px;
  letter-spacing: 0.02em;
}

.fourth-section__feedback-wrapper{
  display: flex;
  min-width: 1775px;
  overflow: scroll;
}

.feedback-card{
  position: relative;
  width: 570px;
  height: 500px;
  border-radius: 5px;
  margin-right: 30px;
  margin-bottom: 45px;
  padding: 53px 24px 50px 26px;
  border: 1px solid var(--COLOR_LIGHT_GREY);
  line-height: 34px;
}

.feedback-card:hover{
  box-shadow: 0px 50px 70px var(--COLOR_LIGHT_GREY);
  cursor: pointer;
  transition: 0.5s;
}

.feedback-card:hover .feedback-card__quotes-active{
  opacity: 1;
  transition: opacity 0.2s;
}

.feedback-card__quotes-active{
  position: absolute;
  left: 26px;
  opacity: 0;
}

.feedback-card:last-child{
  margin-right: 0;
}

.feedback-card__quotes{
  margin-bottom: 4px;
}

.feedback-card__paragraph{
  margin-bottom: 15px;
  font-size: var(--FONT_SIZE_18);
  max-width: 500px;
}
.feedback-card__user-preview{
  display: flex;
}

.profile-img{
  margin-right: 30px;
}

.feedback-card__user-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-card__username{
  margin-bottom: 5px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_BLACK);
  font-size: var(--FONT_SIZE_24);
}

.feedback-card__profession{
  margin-bottom: 15px;
  font-size: var(--FONT_SIZE_20);
}

.feedback-card__stars{
  display: flex;
  height: 24px;
}

.star{
  height: 20px;
  margin-right: 5px;
}

.star:last-child{
margin-right: 0;
}

.feedback-card__scroll{
  display: flex;
  justify-content: center;
}

.scroll-circle{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 30px;
  background: var(--COLOR_LIGHT_BROWN);
}

.scroll-circle:hover{
  background: var(--COLOR_ORANGE);
  cursor: pointer;
  transition: 0.5s;
}

.scroll-circle:first-child{
  background-color: var(--COLOR_ORANGE);
}

.scroll-circle:last-child{
  margin-right: 0;
}

.fifth-section{
  min-height: 493px;
  background: url(../backgound-svg/background-3.svg) var(--COLOR_BACKGROUND_PEACH) no-repeat center;
}

.subscribe-block{
  position: relative;
  bottom: 90px;
  width: 1170px;
  height: 400px;
  background: var(--COLOR_ORANGE);
  border-radius: 20px;
  padding: 85px 0 50px 150px;
}

.subscribe-block__title{
  color: var(--COLOR_WHITE);
  max-width: 500px;
  margin-bottom: 50px;
}

.subscribe-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 0;
  box-shadow: none;
}

.mail-form{
  min-width: 389px;
  gap: 15px;
}

.mail-input{
  border: none;
  outline: none;
  min-width: 355px;
}

.subscribe-button{
  height: 60px;
  gap: 16px;
  font-size: var(--FONT_SIZE_18);
  cursor: pointer;
}

.subscribe-block__dots{
  position: absolute;
  bottom: -70px;
  left: -100px;
}

.subscribe-rectangles{
  position: absolute;
  top: 0px;
  right: -30px;
}
