.job-posts{
  min-height: 650px;
  background: url(../backgound-svg/2-background.svg) no-repeat var(--COLOR_DARK_BLUE) center;
}

.job-posts__container{
  padding-top: 95px;
}

.job-posts__title{
  margin-bottom: 50px;
  font-weight: var(--FONT_WEIGHT_700);
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_48);
}

.job-posts__card-wrapper{
  display: flex;
  margin-bottom: 70px;
}
.card{
  width: 370px;
  height: 250px;
  border-radius: 20px;
  margin-right: 30px;
  padding: 20px 30px 20px 20px;
  background: var(--COLOR_WHITE);
}

.card:first-child{
  background: rgba(238, 79, 60, 0.5);
}

.card:last-child{
  margin-right: 0;
}


.card-content__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-content__left-side{
  display: flex;
  align-items: center;
}

.card-content__card-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50px;
  background-color: var(--COLOR_WHITE);
  margin-right: 20px;
  box-shadow: 0px 4px 50px rgba(153, 153, 153, 0.25);
}

.card-content__title{
font-size: var(--FONT_SIZE_20);
}

.card-content__right-side{
  position: relative;
  margin: 10px 10px 0 0;
  display: flex;
  z-index: 4;
}

.right-side__first-circle{
  position: relative;
  z-index: 1;
  left: 39px;
  max-height: 44px;
}

.right-side__second-circle{
  position: relative;
  z-index: 2;
  left: 19px;
  max-height: 44px;
}

.right-side__third-circle{
  position: relative;
  z-index: 3;
  text-align: center;
  max-height: 42px;
}

.avatar-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content__middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content__middle_title{
  margin-bottom: 12px;
  font-weight: var(--FONT_WEIGHT_700);
  font-size: var(--FONT_SIZE_24);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-content__middle_subtitle{
  margin-bottom: 36px;
}

.card-content__bottom{
  display: flex;
  align-items: center;
}

.card-content__button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  border-radius: 5px;
  font-size: var(--FONT_SIZE_14);
}

.card-content__button:last-child{
  margin-right: 19px;
}

.card-content__button-text{
  font-size: var(--FONT_SIZE_14);
}

.white-btn{
  background: rgba(255, 255, 255, 0.1);
}

.grey-btn{
  background: var(--COLOR_GREY);
}

.job-posts__scroll-block{
  display: flex;
  justify-content: center;
}

.scroll-block__text{
  margin-right: 15px;
  color: var(--COLOR_WHITE);
  font-size: var(--FONT_SIZE_24);
}
