.post-job {
  margin-bottom: 250px;
  background: url(../backgound-svg/background-3.svg)
    var(--COLOR_BACKGROUND_PEACH) no-repeat center;
  background-size: cover;
}

.post-job__container {
  display: flex;
}

.video-block {
  position: relative;
  top: 100px;
  margin-right: 100px;
}

.button_play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--COLOR_PLAY_BTN_BACKGROUND);
  border-radius: 50px;

  border: none;
}

.video-block .button_play {
  bottom: 44%;
  left: 42%;
}

.button_play:hover {
  background-color: var(--COLOR_SHADOW);
}

.post-job__info {
  padding-top: 190px;
  max-width: 425px;
  font-size: var(--FONT_SIZE_18);
}

.post-job__info .title {
  margin-bottom: 50px;
  line-height: 55px;
  letter-spacing: 1px;
}

.post-job__info .subtitle {
  max-width: 360px;
  margin-bottom: 50px;
  line-height: 160%;
  letter-spacing: 0.36px;
}

@media (max-width: 1279px) {
  .post-job {
    margin-bottom: 200px;
  }

  .post-job__container {
    padding: 0 20px;
  }

  .video-block {
    scale: 0.9;
    margin-right: 36px;
  }
}

@media (max-width: 1023px) {
  .post-job {
    max-height: 1040px;
    margin-bottom: 100px;
  }

  .post-job__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .post-job__info {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
    align-items: center;
  }

  .video-block {
    margin-right: 0;
    top: 0;
  }
}

@media (max-width: 767px) {
  .video-block {
    scale: 0.8;
  }
}

@media (max-width: 639px) {
  .post-job {
    padding-top: 0;
    margin-bottom: 70px;
    max-height: 850px;
  }

  .post-job__info .title {
    margin-bottom: 30px;
    line-height: 35px;
  }

  .post-job__info .subtitle {
    max-width: 250px;
    line-height: 25px;
  }

  .video-block {
    top: -90px;
    scale: 0.6;
  }
}

@media (max-width: 413px) {
  .post-job {
    max-height: 750px;
  }

  .post-job__info .subtitle {
    margin-bottom: 30px;
  }

  .video-block {
    top: -160px;
    scale: 0.45;
  }
}
