.post-job {
  max-height: 760px;
  margin-bottom: 250px;
  background: url(../backgound-svg/post-job-left.svg) repeat-y,
    url(../backgound-svg/post-job-right.svg) no-repeat right bottom,
    linear-gradient(
      var(--COLOR_BACKGROUND_PEACH),
      var(--COLOR_BACKGROUND_PEACH)
    );
}

.post-job__container {
  display: flex;
}

.video-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-top: 100px;
}

.button_play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--COLOR_PLAY_BTN_BACKGROUND);
  border-radius: 50px;
  border: none;
}

.button_play:hover {
  background-color: var(--COLOR_SHADOW);
}

.post-job__info {
  padding-top: 190px;
  max-width: 425px;
  font-size: var(--FONT_SIZE_18);
}

.post-job__info .title {
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.post-job__info .subtitle {
  max-width: 360px;
  margin-bottom: 50px;
  line-height: 160%;
  letter-spacing: 0.36px;
}

@media (max-width: 1645px) {
  .post-job {
    background: url(../backgound-svg/post-job-left.svg) repeat-y,
      linear-gradient(
        var(--COLOR_BACKGROUND_PEACH),
        var(--COLOR_BACKGROUND_PEACH)
      );
    background-size: 70%;
  }
}

@media (max-width: 1279px) {
  .post-job {
    margin-bottom: 200px;
  }

  .post-job__info .title {
    margin-bottom: 30px;
  }

  .post-job__info .subtitle {
    margin-bottom: 36px;
  }

  .video-block {
    margin-right: 36px;
  }
}

@media (max-width: 1023px) {
  .post-job {
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-x;
    max-height: 1150px;
    margin-bottom: 100px;
  }

  .post-job__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .post-job__info {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    align-items: center;
    max-width: 450px;
    margin-bottom: 40px;
  }

  .post-job__info .subtitle {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .video-block {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 639px) {
  .post-job {
    background-size: 150%;
    padding-top: 0;
    margin-bottom: 70px;
    max-height: none;
  }

  .post-job__info {
    max-width: 405px;
    margin-bottom: 15px;
  }

  .post-job__info .title {
    margin-bottom: 18px;
  }

  .post-job__info .subtitle {
    max-width: 250px;
    margin-bottom: 24px;
    line-height: 180%;
  }

  .video-block {
    margin-top: 25px;
    margin-bottom: -35px;
  }

  .video-block__cover {
    width: 100%;
  }

  .button_play {
    scale: 0.7;
  }
}

@media (max-width: 413px) {
  .post-job {
    max-height: 780px;
    background-size: 180%;
  }

  .post-job__info {
    max-width: 270px;
    margin-bottom: 10px;
  }

  .video-block {
    margin-top: 15px;
  }
}
