.sign-up {
  display: flex;
  position: relative;
  padding: 150px 0 350px;
}

.sign-up__wrapper {
  display: flex;
}

.sign-up__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 68px;
  padding-top: 215px;
}

.sign-up .title {
  margin-bottom: 50px;
  letter-spacing: 0.32px;
  letter-spacing: 2px;
  flex-shrink: 0;
}

.sign-up .subtitle {
  margin-bottom: 40px;
  max-width: 410px;
  font-size: var(--FONT_SIZE_18);
  line-height: 200%;
}

.sign-up .button {
  font-size: var(--FONT_SIZE_18);
}

.sign-up-graphics {
  position: relative;
  width: 100%;
}

.sign-up-graphics__wrapper {
  position: absolute;
}

.sign-up-graphics__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 832px;
  height: 749px;
  gap: 30px;
}

.rectangle {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.sign-up .rectangle {
  background: var(--COLOR_YELLOW) no-repeat bottom;
  border-radius: 200px 0px 200px 200.5px;
}

.sign-up .rectangle:last-child {
  background: var(--COLOR_ORANGE) no-repeat bottom;
  border-radius: 0px 200px 200.5px 200.5px;
}

.rectangle img {
  position: relative;
  z-index: 2;
}

.sign-up-graphics__vector1 {
  position: absolute;
  bottom: -135px;
  left: -128px;
}

.sign-up-graphics__vector2 {
  position: absolute;
  top: -6px;
  right: 94px;
  z-index: 1;
  width: 350px;
  height: 654px;
}

.sign-up-graphics__vector3 {
  position: absolute;
  top: -8px;
  right: -56px;
}

.sign-up-dot-pattern {
  position: absolute;
  z-index: 3;
  left: 1vw;
  top: -13vh;
}

.sign-up-graphics-dot-pattern {
  position: absolute;
  bottom: -22vh;
  right: -17vw;
  z-index: 3;
}

@media (max-width: 1840px) {
  .sign-up {
    padding-bottom: 260px;
  }

  .sign-up-graphics__wrapper {
    scale: 0.9;
    left: -41px;
    bottom: -165px;
  }

  .sign-up-graphics-dot-pattern {
    bottom: -19vh;
    right: -13vw;
  }
}

@media (max-width: 1652px) {
  .sign-up__info {
    margin-right: 63px;
  }

  .sign-up-dot-pattern {
    top: 1vh;
  }

  .sign-up-graphics-dot-pattern {
    right: -10vw;
  }
}

@media (max-width: 1536px) {
  .sign-up {
    padding-bottom: 210px;
  }

  .sign-up__info {
    padding-top: 120px;
    margin-right: 28px;
  }

  .sign-up-graphics__wrapper {
    scale: 0.8;
    left: -83px;
  }

  .sign-up-dot-pattern {
    scale: 0.8;
  }

  .sign-up-graphics-dot-pattern {
    scale: 0.8;
    bottom: -12vh;
    right: -3vw;
  }
}

@media (max-width: 1279px) {
  .sign-up {
    padding: 100px 0 115px;
  }

  .sign-up .title {
    margin-bottom: 30px;
  }

  .sign-up .subtitle {
    margin-bottom: 30px;
  }

  .sign-up-dot-pattern {
    display: none;
  }

  .sign-up-graphics__wrapper {
    scale: 0.6;
    right: -5vw;
  }

  .sign-up-graphics-dot-pattern {
    display: none;
  }
}

@media (max-width: 1185px) {
  .sign-up {
    padding: 50px 0 65px;
  }
  .sign-up-graphics__wrapper {
    scale: 0.5;
    right: 8vw;
  }
}

@media (max-width: 1023px) {
  .sign-up {
    padding: 0px 0 65px;
  }

  .sign-up__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .sign-up__info {
    align-items: center;
    padding-top: 0;
  }

  .sign-up .subtitle {
    max-width: 564px;
    text-align: center;
  }

  .sign-up-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
  }

  .sign-up-graphics__wrapper {
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    scale: 0.6;
  }

  .rectangle {
    height: 665px;
  }

  .sign-up-dot-pattern {
    left: -100px;
    bottom: 670px;
  }

  .sign-up-graphics-dot-pattern {
    bottom: 25px;
    right: -70px;
  }

  .sign-up-graphics__vector2 {
    top: 39px;
    right: 95px;
    width: 350px;
    height: 614px;
  }

  .sign-up-graphics__vector3 {
    top: 23px;
    right: -57px;
  }
}

@media (max-width: 767px) {
  .sign-up {
    padding: 50px 0 15px;
  }

  .sign-up__info {
    margin-right: 0;
  }

  .sign-up-dot-pattern {
    left: -135px;
  }

  .sign-up-graphics__wrapper {
    scale: 0.5;
  }

  .sign-up-graphics-dot-pattern {
    right: -120px;
  }
}

@media (max-width: 639px) {
  .sign-up {
    padding: 10px 0 60px;
  }

  .sign-up__info {
    flex-shrink: 1;
    padding-top: 0;
  }

  .sign-up .title {
    text-align: center;
    margin-bottom: 24px;
  }

  .sign-up .subtitle {
    text-align: center;
    font-size: var(--FONT_SIZE_14);
    margin-bottom: 22px;
    max-width: 430px;
  }

  .sign-up-dot-pattern {
    left: -165px;
    bottom: 720px;
  }

  .sign-up-graphics {
    display: none;
  }
}

@media (max-width: 540px) {
  .sign-up .title {
    max-width: 250px;
  }

  .sign-up .subtitle {
    max-width: 350px;
  }
}

@media (max-width: 413px) {
}
