.subscribe {
  background: url(../backgound-svg/background-3.svg)
    var(--COLOR_BACKGROUND_PEACH) no-repeat center;
}

.subscribe-block {
  position: relative;
  bottom: 90px;
  width: 1170px;
  height: 400px;
  background: var(--COLOR_ORANGE);
  border-radius: 20px;
  padding: 85px 0 50px 150px;
}

.subscribe-block .title {
  color: var(--COLOR_WHITE);
  max-width: 515px;
  margin-bottom: 50px;
  line-height: 55px;
  letter-spacing: 0.32px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 0;
  box-shadow: none;
  max-width: 780px;
}

.mail-form {
  z-index: 1;
  min-width: 389px;
  gap: 15px;
  padding: 5px 5px 5px 30px;
  background-color: var(--COLOR_WHITE);
}

.input_lg {
  border: none;
  outline: none;
  min-width: 390px;
  letter-spacing: 1px;
}

.button_subscribe {
  height: 60px;
  gap: 16px;
  cursor: pointer;
  letter-spacing: 1px;
}

.button_subscribe:hover {
  box-shadow: 0 0 0;
}

.subscribe-block__dots {
  position: absolute;
  bottom: -70px;
  left: -100px;
}

.subscribe__stripes-pattern {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media (max-width: 1840px) {
  .mail-form {
    width: 658px;
  }
}

@media (max-width: 1279px) {
  .subscribe {
    display: flex;
    justify-content: center;
  }

  .subscribe-block {
    width: 960px;
  }

  .subscribe__stripes-pattern {
    height: 340px;
    width: 345px;
    right: -20px;
  }
}

@media (max-width: 1023px) {
  .subscribe-block {
    padding: 50px 0 0 50px;
    height: 300px;
    width: 700px;
  }

  .subscribe-block .title {
    font-size: var(--FONT_SIZE_42);
    margin-bottom: 25px;
  }

  .mail-form {
    width: auto;
  }

  .input_lg {
    min-width: 340px;
  }

  .subscribe__stripes-pattern {
    height: 205px;
    width: 235px;
    right: -25px;
  }

  .subscribe-block__dots {
    bottom: -70px;
    left: -160px;
  }
}

@media (max-width: 767px) {
  .subscribe-block {
    padding: 50px 0 0 25px;
    height: 300px;
    width: 600px;
  }

  .subscribe-wrapper {
    max-width: 565px;
  }

  .subscribe-block__dots {
    display: none;
  }

  .subscribe__stripes-pattern {
    height: 175px;
    width: 180px;
    right: -10px;
  }

  .input_lg {
    min-width: 293px;
  }
}

@media (max-width: 639px) {
  .subscribe-wrapper {
    padding: 5px 5px 5px 5px;
  }

  .subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px 0 10px;
    height: 250px;
    width: 360px;
    bottom: 50px;
  }

  .button_subscribe {
    width: 250px;
    border: 2px solid var(--COLOR_WHITE);
  }

  .subscribe__stripes-pattern {
    display: none;
  }

  .subscribe-block .title {
    font-size: var(--FONT_SIZE_24);
    max-width: 300px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
  }

  .mail-form {
    min-width: 330px;
    padding: 10px;
    gap: 5px;
  }

  .input_lg {
    min-width: 310px;
  }

  .button_subscribe {
    width: 310px;
  }

  .subscribe-block__dots {
    left: -195px;
    bottom: 25px;
  }
}

@media (max-width: 413px) {
  .subscribe-block .title {
    font-size: var(--FONT_SIZE_20);
  }

  .subscribe-block {
    padding: 25px 0px 0 0px;
    height: 245px;
  }

  .mail-form {
    min-width: 270px;
  }

  .input_lg {
    min-width: 250px;
  }

  .button_subscribe {
    width: 250px;
  }
}
