.subscribe {
  background: url(../backgound-svg/background-3.svg)
    var(--COLOR_BACKGROUND_PEACH) no-repeat center;
}

.subscribe-block {
  position: relative;
  bottom: 90px;
  width: 1170px;
  height: 400px;
  background: var(--COLOR_ORANGE);
  box-shadow: 0 20px 24px 0px rgba(238, 79, 60, 0.3);
  border-radius: 20px;
  padding: 85px 0 50px 150px;
}

.subscribe-block .title {
  color: var(--COLOR_WHITE);
  max-width: 516px;
  margin-bottom: 45px;
  line-height: 115%;
  letter-spacing: 1px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 0;
  box-shadow: none;
  max-width: 775px;
}

.mail-form {
  z-index: 1;
  min-width: 389px;
  gap: 15px;
  padding: 5px 5px 5px 30px;
  background-color: var(--COLOR_WHITE);
}

.input_lg {
  border: none;
  outline: none;
  min-width: 390px;
  letter-spacing: 0.6px;
}

.button_subscribe {
  height: 60px;
  gap: 16px;
  font-size: var(--FONT_SIZE_18);
  cursor: pointer;
  letter-spacing: 0.9px;
}

.button_subscribe:hover {
  box-shadow: 0 0 0;
}

.subscribe-block__dots {
  position: absolute;
  bottom: -70px;
  left: -100px;
}

.subscribe__stripes-pattern {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media (max-width: 1279px) {
  .subscribe-block {
    width: 100%;
  }

  .subscribe-block .title {
    margin-bottom: 30px;
  }

  .subscribe__stripes-pattern {
    height: 315px;
    width: 322px;
    right: -20px;
  }

  .mail-form {
    width: 645px;
  }

  .input_lg {
    min-width: 375px;
  }
}

@media (max-width: 1023px) {
  .subscribe__container {
    display: flex;
    justify-content: center;
  }

  .subscribe-block {
    padding: 50px 50px 50px 125px;
    height: auto;
  }

  .subscribe-block .title {
    font-size: var(--FONT_SIZE_36);
    max-width: 77%;
    margin-bottom: 25px;
  }

  .mail-form {
    width: 100%;
  }

  .input_lg {
    min-width: auto;
  }

  .button_subscribe {
    height: 56px;
  }

  .subscribe__stripes-pattern {
    height: 200px;
    width: 230px;
    right: -25px;
  }
  /*
  .subscribe-block__dots {
    bottom: -70px;
    left: -160px;
  } */
}

@media (max-width: 767px) {
  .subscribe-block {
    padding: 50px 25px;
  }

  .subscribe-block .title {
    max-width: 400px;
    font-size: var(--FONT_SIZE_36);
  }

  .subscribe-block__dots {
    display: none;
  }

  .subscribe__stripes-pattern {
    height: 160px;
    width: 165px;
    right: -10px;
  }

  .button_subscribe {
    height: 52px;
    font-size: var(--FONT_SIZE_16);
  }

  .send-icon {
    height: 20px;
  }
}

@media (max-width: 639px) {
  .subscribe-wrapper {
    padding: 0;
  }

  .subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    height: auto;
    width: 100%;
    bottom: 50px;
  }

  .button_subscribe {
    width: 250px;
    border: 2px solid var(--COLOR_WHITE);
  }

  .subscribe__stripes-pattern {
    display: none;
  }

  .subscribe-block .title {
    font-size: var(--FONT_SIZE_28);
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;
  }

  .mail-form {
    min-width: auto;
    padding: 10px;
    gap: 5px;
  }

  .input_lg {
    min-width: auto;
  }

  .button_subscribe {
    width: 100%;
  }

  .subscribe-block__dots {
    left: -195px;
    bottom: 25px;
  }
}

@media (max-width: 413px) {
  .subscribe-block .title {
    max-width: 247px;
    margin-bottom: 16px;
    font-size: var(--FONT_SIZE_22);
  }

  .subscribe-block {
    padding: 20px 10px 15px;
  }

  .subscribe-wrapper {
    justify-content: center;
  }

  .mail-form {
    padding: 5px;
  }

  .button_subscribe {
    height: 50px;
  }
}
